* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

.blank {
  min-height: 80vh;
  width: 100%;
  background: radial-gradient(white, rgb(74, 238, 74));
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vmin;
  font-size: 2vmin;
  padding: 1vmin;
  color: white;
  background-color: rgba(0, 0, 0, 0.781);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100%;
}
nav ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

nav ul li:hover {
  cursor: pointer;
}

.plan {
  padding-top: 2vmin;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.plans {
  width: 20vh;
}

.section2 {
  margin-top: 5vmin;
  display: grid;
  grid-template-columns: 1fr 0.4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

footer {
  background-color: rgba(0, 0, 0, 0.897);
  color: white;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 2vmin;
  padding-top: 5vmin;
}
